@tailwind base;
@tailwind components;
@tailwind utilities;

/* .at-cursor-bar { */
/* 	background: rgba(52, 52, 54, 0.25); */
/* } */

.at-cursor-beat {
  background-color: #facc14 !important;
}

.at-highlight * {
  @apply fill-[#70d6ff] stroke-[#70d6ff] !important;
}

.at-surface-svg {
  font-family: "Geist Sans" !important;
}
.at-surface-svg text {
  font-family: "Geist Sans" !important;
}
.at-surface g text {
  font-family: "Geist Sans" !important;
}
.at-song-title {
  font-family: "Geist Sans" !important;
}
.at {
  font-family: "Geist Sans" !important;
  fill: light-dark(black, #cacaca) !important;
}

.at-surface * {
  fill: light-dark(black, #cacaca) !important;
}

rect {
  fill: light-dark(black, #bcff69) !important;
}

.at-surface-svg path {
  stroke: light-dark(black, #cacaca) !important;
}

.at-selection * {
  background-color: #70d6ff;
  opacity: 0.2;
}

@font-face {
  font-family: "Geistura";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  unicode-range: U+00-7F;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-200-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-200-normal.woff)
      format("woff");
}

/* geist-mono-latin-300-normal */
@font-face {
  font-family: "Geistura";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  unicode-range: U+00-7F;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-300-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-300-normal.woff)
      format("woff");
}

/* geist-mono-latin-400-normal */
@font-face {
  font-family: "Geistura";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  unicode-range: U+00-7F;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-400-normal.woff)
      format("woff");
}

/* geist-mono-latin-500-normal */
@font-face {
  font-family: "Geistura";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  unicode-range: U+00-7F;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-500-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-500-normal.woff)
      format("woff");
}

/* geist-mono-latin-600-normal */
@font-face {
  font-family: "Geistura";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  unicode-range: U+00-7F;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-600-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-600-normal.woff)
      format("woff");
}

/* geist-mono-latin-700-normal */
@font-face {
  font-family: "Geistura";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  unicode-range: U+00-7F;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-700-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-700-normal.woff)
      format("woff");
}

/* geist-mono-latin-800-normal */
@font-face {
  font-family: "Geistura";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  unicode-range: U+00-7F;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-800-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-800-normal.woff)
      format("woff");
}

/* geist-mono-latin-900-normal */
@font-face {
  font-family: "Geistura";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  unicode-range: U+00-7F;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-900-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono@latest/latin-900-normal.woff)
      format("woff");
}

/* geist-sans-latin-100-normal */
@font-face {
  font-family: "Geist Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  unicode-range: U+00-7F;

  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-100-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-100-normal.woff)
      format("woff");
}

/* geist-sans-latin-200-normal */
@font-face {
  font-family: "Geist Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  unicode-range: U+00-7F;

  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-200-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-200-normal.woff)
      format("woff");
}

/* geist-sans-latin-300-normal */
@font-face {
  font-family: "Geist Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  unicode-range: U+00-7F;

  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-300-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-300-normal.woff)
      format("woff");
}

/* geist-sans-latin-400-normal */
@font-face {
  font-family: "Geist Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  unicode-range: U+00-7F;

  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff)
      format("woff");
}

/* geist-sans-latin-500-normal */
@font-face {
  font-family: "Geist Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  unicode-range: U+00-7F;

  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.woff)
      format("woff");
}

/* geist-sans-latin-600-normal */
@font-face {
  font-family: "Geist Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  unicode-range: U+00-7F;

  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-600-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-600-normal.woff)
      format("woff");
}

/* geist-sans-latin-700-normal */
@font-face {
  font-family: "Geist Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  unicode-range: U+00-7F;

  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.woff)
      format("woff");
}

/* geist-sans-latin-800-normal */
@font-face {
  font-family: "Geist Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  unicode-range: U+00-7F;

  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-800-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-800-normal.woff)
      format("woff");
}

/* geist-sans-latin-900-normal */
@font-face {
  font-family: "Geist Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 900;

  unicode-range: U+00-7F;

  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-900-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-900-normal.woff)
      format("woff");
}

@font-face {
  font-family: "Geistura";
  src: url("/font/Bravura.woff2") format("woff2");
  unicode-range: U+1D100-1D1FF, U+2600-26FF, U+25A0-25FF, U+E00-F8FF,
    U+10000-1FFFD;
}

@font-face {
  font-family: "Geist Sans";
  src: url("/font/Bravura.woff2") format("woff2");
  unicode-range: U+1D100-1D1FF, U+2600-26FF, U+25A0-25FF, U+E00-F8FF,
    U+10000-1FFFD;
}
html {
  font-family: "Geist Sans" !important;
}
